DB_HOST=your_database_host
DB_DATABASE=your_database_name
DB_USERNAME=your_database_user
DB_PASSWORD=your_database_password
DB_PORT=3306
NODE_ENV=production
DB_SSL=optional_your_data
KEY_TOKEN=optional_your_data
LOCAL_URL=optional_your_data
AZURE_AREAS_URL=optional_your_data
AZURE_PRODUCTS_URL=optional_your_data
PORT=optional_your_data
AZURE_USER_URL=optional_your_data